if SHIELD_SCRATCHBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "scratchboard_test"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SCRATCHBOARD_LEFT

if SHIELD_SCRATCHBOARD_LEFT || SHIELD_SCRATCHBOARD_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SCRATCHBOARD_LEFT || SHIELD_SCRATCHBOARD_RIGHT
